In [22]:
import pandas
import numpy

# intialize data of lists. 
data = {'hosp_id': ['ABC_Hosp'] * 3,
        'question': ['Nurse always communicated', 'Nurse sometimes communicated', 'Nurse usually communicated'],
        'ans': [42, 75, 67]}


df = pandas.DataFrame(data) # create dataframe 

df # print the output.

    hosp_id                      question  ans
0  ABC_Hosp     Nurse always communicated   42
1  ABC_Hosp  Nurse sometimes communicated   75
2  ABC_Hosp    Nurse usually communicated   67

In [23]:
# sting extraction:

# https://www.geeksforgeeks.org/python-extract-words-from-given-string/
# https://jakevdp.github.io/WhirlwindTourOfPython/14-strings-and-regular-expressions.html
# https://stackoverflow.com/questions/55028465/python-searching-a-string-within-a-dataframe-from-a-list

search_list = ['always','sometimes','usually'] # list of words

df['ans_type'] = df.question.str.extract('(?i)({0})'.format('|'.join(search_list))) # extract answer

df

    hosp_id                      question  ans   ans_type
0  ABC_Hosp     Nurse always communicated   42     always
1  ABC_Hosp  Nurse sometimes communicated   75  sometimes
2  ABC_Hosp    Nurse usually communicated   67    usually

In [24]:
# string replacement:

# https://stackoverflow.com/questions/45334045/use-python-to-replace-multiple-words-from-a-dataframe-string-column

# note: you need to replace the word and the space!!! for example, always" "|nextword .
# just replacing 'always|sometimes' will leave you with a double space
df['question'] = df['question'].str.replace('always |sometimes |usually ', "")

df

    hosp_id            question  ans   ans_type
0  ABC_Hosp  Nurse communicated   42     always
1  ABC_Hosp  Nurse communicated   75  sometimes
2  ABC_Hosp  Nurse communicated   67    usually

In [26]:
df.pivot_table(index = ['hosp_id', 'question'], columns = 'ans_type', values = 'ans', aggfunc = numpy.sum)

ans_type                     always  sometimes  usually
hosp_id  question
ABC_Hosp Nurse communicated      42         75       67