In [0]:
# Import the SQL ALchemy engine
from sqlalchemy import create_engine

In [0]:
# Database credentials - dvdrentals
# We will be querying from this same database throughout
# so just need to do this once.

postgres_user = 'dsbc_student'
postgres_pw = '7*.8G9QH21'
postgres_host = '142.93.121.174'
postgres_port = '5432'
postgres_db = 'dvdrentals'

# use the credentials to start a connection
engine = create_engine('postgresql://{}:{}@{}:{}/{}'.format(
    postgres_user, postgres_pw, postgres_host, postgres_port, postgres_db))

In [0]:
# 1. How many movies are released for each rating?
 
sql = '''
SELECT COUNT(*), rating 
FROM film
GROUP BY rating 
'''

results = engine.execute(sql)
engine.dispose()
rows = results.fetchall()

for row in rows:
  print('There are '+ str(row[0]) + ' films that are rated ' + str(row[1]) + '.')

There are 195 films that are rated R.
There are 210 films that are rated NC-17.
There are 194 films that are rated PG.
There are 223 films that are rated PG-13.
There are 178 films that are rated G.

In [0]:
# 2. What is the average rental duration for each rating?


sql = '''
SELECT rating, AVG(rental_duration) 
FROM film
GROUP BY rating 
'''

results = engine.execute(sql)
engine.dispose()
rows = results.fetchall()

for row in rows:
  print('The average duration for films rated '+ str(row[0]) + 
        ' is ' + str(row[1]) + ' days.')

The average duration for films rated R is 4.7743589743589744 days.
The average duration for films rated NC-17 is 5.1428571428571429 days.
The average duration for films rated PG is 5.0824742268041237 days.
The average duration for films rated PG-13 is 5.0538116591928251 days.
The average duration for films rated G is 4.8370786516853933 days.

In [0]:
# 3. What is the average movie runtime (length)?

sql = '''
SELECT length 
FROM film
'''

runtimes = engine.execute(sql)
engine.dispose()

rows = runtimes.fetchall()
runtimes = [x['length'] for x in rows]

# A simple implementation simply iterating the array
def mean(numbers):
  total_sum = 0;  # initialize the sum to zero
  for n in numbers:
    total_sum += n # add up the numbers in the array
  count = len(numbers)   # find the length of the array
  avg = total_sum / count  # calculate the mean
  return avg  # return the result

print('The average runtime is {}'.format(mean(runtimes)))

The average runtime is 115.272

In [0]:
# 4. What is the median movie length?



sql = '''
SELECT length 
FROM film
'''

runtimes = engine.execute(sql)
engine.dispose()

rows = runtimes.fetchall()
runtimes = [x['length'] for x in rows]


import math

def median(numbers):
  numbers.sort()  # sort the list of numbers
  count = len(numbers) # get the length of the array
  isEven = count % 2 == 0 # check if this list is of even length
  
  if (isEven):
    # find the two numbers in the middle of the array
    mid = math.floor( count / 2 )
    a = numbers[mid]
    b = numbers[mid + 1]
    # find the average of these two numbers
    ans = (a + b) / 2
  else:
    ans = numbers[math.floor( count / 2 )]
 
  return ans

print('The median movie length is {}'.format(median(runtimes)))

The median movie length is 114.0

In [0]:
# 5. Calculate the standard deviation of the movie lengths.


def standard_deviation(numbers):
  X_bar = mean(numbers)
  N = len(numbers)
  total_sum = 0
  for X in numbers:
    diff = X - X_bar
    squared = math.pow(diff, 2)
    total_sum += squared
  sigma = math.sqrt(total_sum / (N - 1))  
  return sigma

print('The standard deviation of the movie lengths is {}'.format(standard_deviation(runtimes)))

The standard deviation of the movie lengths is 40.42633181855988

In [0]:
# We are no longer using this question/

# 6. There is another table named language with the fields language_id and name. 
# The film table has a field named language_id which is a foreign key to
# the language_id column of the language table.
# Run a query whose results group movie data by language.

# I am assuming we want the counts and the language_id not 

# Database credentials - dvdrentals
postgres_user = 'dsbc_student'
postgres_pw = '7*.8G9QH21'
postgres_host = '142.93.121.174'
postgres_port = '5432'
postgres_db = 'dvdrentals'

# use the credentials to start a connection
engine = create_engine('postgresql://{}:{}@{}:{}/{}'.format(
    postgres_user, postgres_pw, postgres_host, postgres_port, postgres_db))



sql = '''
SELECT language.language_id, name, COUNT(film_id) AS count_films
FROM language LEFT OUTER JOIN film
ON language.language_id = film.language_id
GROUP BY language.language_id, name
'''

results = engine.execute(sql)
engine.dispose()
rows = results.fetchall()

# print some results just to see what we got
for row in rows:
  print(row)

(4, 'Mandarin            ', 0)
(6, 'German              ', 0)
(2, 'Italian             ', 0)
(3, 'Japanese            ', 0)
(5, 'French              ', 0)
(1, 'English             ', 1000)